<a href="https://colab.research.google.com/github/glcn35/PANDAS/blob/main/08_02_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import numpy as np
import pandas as pd
import seaborn as sns

In [83]:
df = pd.read_csv("/content/sample_data/sales_082020.csv")
df

          buyer_id buyer_country seller_id  ... currency   price        date
0       qzpjsi9t0o            GB  6oufpaot  ...      GBP   19.11  2020-08-03
1       o79pns1qwo            GB  50xki2yg  ...      GBP   15.92  2020-08-09
2       sjgbjdkhqx            GB  50xki2yg  ...      GBP    6.37  2020-08-07
3       o79pns1qwo            GB  s0p322hh  ...      GBP   25.27  2020-08-09
4       o79pns1qwo            GB  dpkx192v  ...      GBP    8.90  2020-08-09
...            ...           ...       ...  ...      ...     ...         ...
237666  p7ibf7soot            GB  ss7jy9ks  ...      GBP   17.11  2020-08-06
237667  2hg8zirueq            US  bk6apusi  ...      USD   69.00  2020-08-05
237668  k5hmcfxcs6            GB  n2ez0xph  ...      GBP   58.28  2020-08-05
237669  ca8nc8qv1x            GB  j1s4nqxb  ...      GBP    9.46  2020-08-05
237670  z09h7w9zcd            US  0au7baxi  ...      USD  160.76  2020-08-06

[237671 rows x 10 columns]

. How many rows in the sales dataset?(Just write numbers) *
1. Satış veri setinde kaç satır var?(Sadece rakam yazın) *

2. How many columns in the sales dataset?(Just write numbers) *

In [34]:
df.shape

(237671, 10)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

3. What is the total number of sellers?(Just write numbers) *
3. Toplam satıcı sayısı nedir?(Sadece rakam yazınız) *

In [36]:
df["seller_id"].value_counts(dropna=False)

pzsiehl0    703
wd3rgi3q    525
j21w87xy    500
dbm0o9qu    436
hbtm3tdy    316
           ...
b79drc4f      1
ivtfeqcd      1
uvfzdgb4      1
pbrox97s      1
0au7baxi      1
Name: seller_id, Length: 114227, dtype: int64

In [37]:
df["seller_id"].unique()

array(['6oufpaot', '50xki2yg', 's0p322hh', ..., 'n2ez0xph', 'j1s4nqxb',
       '0au7baxi'], dtype=object)

In [38]:
df["seller_id"].nunique()

114227

In [39]:
df["price"].isnull().sum()

0

In [40]:
df["price"].sum()

6739727.730000001

In [41]:
df["currency"].value_counts()

GBP    139478
USD     82558
AUD      7580
EUR      5934
CAD      1651
NZD       306
CHF        95
SEK        25
DKK        16
JPY         6
SGD         5
PLN         5
MXN         2
NOK         2
THB         1
ILS         1
HKD         1
MYR         1
TWD         1
HUF         1
CZK         1
BRL         1
Name: currency, dtype: int64

4. What is the total value of sales in EUR?(Just write numbers) *
 Satışların EUR cinsinden toplam değeri nedir?(Sadece rakam yazınız) *

In [42]:
df[df["currency"]=="EUR"]["price"].sum()

275837.69

In [124]:
df1= pd.read_csv("/content/sample_data/currency_rates_082020_EUR.csv")
df1.head(1)

  currency      date  rate
0      EUR  8/1/2020   1.0

In [123]:
df.head(1)

     buyer_id buyer_country seller_id  ... currency  price        date
0  qzpjsi9t0o            GB  6oufpaot  ...      GBP  19.11  2020-08-03

[1 rows x 10 columns]

In [125]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [129]:
df1.date=pd.to_datetime(df1.date)
df1.date

0     2020-08-01
1     2020-08-02
2     2020-08-03
3     2020-08-04
4     2020-08-05
         ...
215   2020-08-06
216   2020-08-07
217   2020-08-08
218   2020-08-09
219   2020-08-10
Name: date, Length: 220, dtype: datetime64[ns]

In [130]:
df.date=pd.to_datetime(df.date)
df.date

0        2020-08-03
1        2020-08-09
2        2020-08-07
3        2020-08-09
4        2020-08-09
            ...
237666   2020-08-06
237667   2020-08-05
237668   2020-08-05
237669   2020-08-05
237670   2020-08-06
Name: date, Length: 237671, dtype: datetime64[ns]

In [ ]:
df2=df.merge(df1,how="left",on=["currency","date"])
df2

In [ ]:
df2["total_price"]=df2.price/df2.rate
df2

In [139]:
df2["total_price"].sum()

6471510.8224988775

 5. Which brand has the highest number of purchases?(Write down brand as in dataset, answer is case sensitive) *
 Hangi markanın en fazla satın alma işlemi var?(Markayı veri setindeki gibi yazın, cevap büyük/küçük harf duyarlıdır) *

In [43]:
df["brand"].value_counts(dropna=False)

NaN                   118341
Nike                    9575
Brandy Melville         5065
Topshop                 4561
PrettyLittle Thing      4136
                       ...
kensie                     1
Rachel Comey               1
C/meo Collective           1
Preen                      1
Vita Fede                  1
Name: brand, Length: 1135, dtype: int64

In [85]:
df["brand"].str.contains("nike",case=False).sum()

9575

In [45]:
df.columns

Index(['buyer_id', 'buyer_country', 'seller_id', 'seller_country',
       'product_code', 'category', 'brand', 'currency', 'price', 'date'],
      dtype='object')

6. How many items in the “Jewelry” category have no brand?(Just write numbers) *
6. “Mücevher” kategorisindeki kaç parçanın markası yok?(Sayı yazmanız yeterli) *

In [46]:
df['category'].unique()

array(['Dresses', 'Outerwear', 'Tops - Mens', 'Bottoms - Womens',
       'Tops - Womens', 'Outerwear - Mens', 'Accessories', 'Jewellery',
       'Other', 'Film', 'Art', 'Music', 'Shoes', 'Lingerie',
       'Bottoms - Mens', 'Home', 'Tech', 'Beauty', 'Sports equipment',
       'Kids', 'Transportation', 'Books & magazines', 'Underwear',
       'UNSPECIFIED', nan], dtype=object)

In [86]:
df[df['category']=='Jewellery'].sample(20)

          buyer_id buyer_country seller_id  ... currency  price        date
13840   l8bep2g57p            GB  o5ivgdpb  ...      GBP  15.86  2020-08-06
11028   7oa7161url            US  0vuvnib0  ...      USD  10.68  2020-08-03
8708    e1mfsvwvmo            US  j21w87xy  ...      USD   7.36  2020-08-06
149409  ddcppdtx1n            US  qcy5k20t  ...      USD   8.75  2020-08-05
46900   fcjmao9j2b            GB  5700jhwk  ...      GBP   5.31  2020-08-07
56469   n0f4ec7lc5            GB  htpv78vs  ...      GBP   4.14  2020-08-07
70390   x7wrgm94p1            GB  u6pmezfo  ...      GBP   6.48  2020-08-08
145122  elvp5aqzqa            GB  6zba0bac  ...      GBP   3.27  2020-08-08
83477   1andaxa1h3            US  6i7cz5ad  ...      USD  10.72  2020-08-08
68927   irmp54d70t            GB  01q70n4r  ...      GBP  10.14  2020-08-03
123279  vbe48842wd            GB  zpv1nnx4  ...      GBP   5.72  2020-08-09
14266   uuj85si7jx            US  2qi7miij  ...      USD  26.31  2020-08-04
124711  5zjoublqxv            GB  cxiib1sk  ...      GBP   6.51  2020-08-08
43785   by2nmpzoa9            GB  bmv57edx  ...      GBP   2.64  2020-08-06
91201   775wbzfab1            GB  gmkk40yg  ...      GBP  20.46  2020-08-08
199775  xdck9t923k            GB  14jy7wjw  ...      GBP   8.75  2020-08-05
51187   3pjhvf2sxs            US  lag4xmdc  ...      USD  10.73  2020-08-09
134000  06rwvlk2gf            US  azu0k21k  ...      USD  31.68  2020-08-08
81859   44svhxfikp            US  6qdxkca0  ...      USD  48.23  2020-08-09
11987   9iyqcejlff            GB  1ai4wp1d  ...      GBP   6.51  2020-08-03

[20 rows x 10 columns]

In [92]:
df[(df["category"]=="Jewellery")&(df["brand"].isnull())]["product_code"].nunique()

10931

In [90]:
np.nan==np.nan

False

In [59]:
df["brand"].value_counts(dropna=False)

NaN                   118341
Nike                    9575
Brandy Melville         5065
Topshop                 4561
PrettyLittle Thing      4136
                       ...
kensie                     1
Rachel Comey               1
C/meo Collective           1
Preen                      1
Vita Fede                  1
Name: brand, Length: 1135, dtype: int64

In [96]:
df.loc[df['category']=='Jewellery']["brand"].value_counts(dropna=False)

NaN                  13525
PANDORA                493
Brandy Melville        190
Vivienne Westwood       94
Tiffany & Co.           56
                     ...
Chloé                    1
SKAGEN                   1
Valentino                1
Tissot                   1
Vita Fede                1
Name: brand, Length: 83, dtype: int64

In [51]:
df.loc[df['category']=='Jewellery'].sample(20)

          buyer_id buyer_country seller_id  ... currency  price        date
148961  kxvxwwgd7r            GB  3d25fmn7  ...      GBP   3.20  2020-08-05
184935  nkgrbplgoc            GB  8bn9ijb7  ...      GBP   4.42  2020-08-09
58909   yzq9n6qhr9            GB  86omh859  ...      GBP  24.63  2020-08-07
41263   rwmytc8ho2            GB  izyms06l  ...      GBP  15.41  2020-08-04
35623   k8ek78199y           RoW  g62xk7dr  ...      NZD  20.01  2020-08-08
4159    juwz454s4y            US  2anj0jwq  ...      USD  19.82  2020-08-03
67884   p69oo5f7q5            US  9efhqhdn  ...      USD  10.01  2020-08-03
190357  lsmdotl5qx            US  mvnm7tgd  ...      USD   7.37  2020-08-03
72815   9bvtas3gu7            US  1gdl4ipu  ...      USD  21.89  2020-08-05
66425   0d018v8n70            GB  uv4ihu0p  ...      GBP   5.53  2020-08-07
8748    smauorald5            US  j21w87xy  ...      USD  21.39  2020-08-09
194203  f0hdcfvory            GB  wzeccdpt  ...      GBP  15.00  2020-08-08
185875  qt1scq03w7            GB  eyrwthpt  ...      GBP   6.65  2020-08-04
140985  if3n6qb294            GB  15nmqn58  ...      GBP  38.22  2020-08-08
217816  mvml3jlu9n            US  clb5h2ln  ...      USD   6.88  2020-08-09
46729   rq6qaebq6a            US  m52hmhan  ...      USD  18.21  2020-08-06
229950  baikhbeuv5           RoW  pwx2w5ah  ...      GBP  16.83  2020-08-09
4216    6tvzeohebl            US  2anj0jwq  ...      USD  20.33  2020-08-06
225243  6srxkr3yo8            GB  hmifsvdt  ...      GBP   6.83  2020-08-04
73716   tui9bw8uki            US  szyffs3n  ...      USD  19.64  2020-08-05

[20 rows x 10 columns]

In [52]:
df['brand'].value_counts(dropna=False)

NaN                   118341
Nike                    9575
Brandy Melville         5065
Topshop                 4561
PrettyLittle Thing      4136
                       ...
kensie                     1
Rachel Comey               1
C/meo Collective           1
Preen                      1
Vita Fede                  1
Name: brand, Length: 1135, dtype: int64

8. How many pairs of shoes were purchased by Australian (AU) buyers?(Just write numbers)
8. Avustralyalı (AU) alıcılar kaç çift ayakkabı satın aldı? (Sadece rakam yazın)

In [107]:
df[(df.buyer_country=="AU")&(df.category=="Shoes")]

          buyer_id buyer_country seller_id  ... currency   price        date
139     ex9bpqq8w6            AU  j3pkou10  ...      USD   52.24  2020-08-08
539     uru4etz7e5            AU  1i84ez1k  ...      AUD   73.73  2020-08-09
5639    9fn32ae6a9            AU  arloo1le  ...      GBP   75.27  2020-08-09
7117    40jm2mgsri            AU  toud3ymd  ...      AUD   55.03  2020-08-09
7118    ncxx01xn4j            AU  toud3ymd  ...      AUD  211.76  2020-08-03
...            ...           ...       ...  ...      ...     ...         ...
236930  azmnowovd7            AU  xgse9ed3  ...      AUD   85.48  2020-08-05
237075  i0loqi83nv            AU  f8ts15sr  ...      AUD   34.01  2020-08-05
237495  86aw49gm0m            AU  seb5z7bo  ...      AUD   85.69  2020-08-05
237497  pcd2mdsr3n            AU  agzes91a  ...      AUD   95.27  2020-08-06
237575  0s9ms8inq0            AU  zkon4br2  ...      AUD  180.12  2020-08-05

[658 rows x 10 columns]

In [72]:
df.category.value_counts()

Tops - Womens        45450
Tops - Mens          32611
Bottoms - Womens     30001
Shoes                21764
Accessories          21153
Dresses              19238
Jewellery            14923
Beauty                8746
Other                 6599
Outerwear             6321
Bottoms - Mens        5763
Lingerie              5301
Outerwear - Mens      4156
Tech                  3496
Home                  3477
Music                 2510
Kids                  2135
Art                   1777
Books & magazines     1081
Film                   466
Sports equipment       413
Underwear              177
Transportation          90
UNSPECIFIED              7
Name: category, dtype: int64

In [71]:
df['brand'].value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Preen                    1
Wacoal                   1
Shu Uemura               1
Parker                   1
Vita Fede                1
Name: brand, Length: 1134, dtype: int64

In [108]:
df.groupby("brand")["price"].sum()

brand
& Other Stories    4615.52
032c                376.78
11 Degrees          432.76
1822 Denim          150.78
3.1 Phillip Lim     356.16
                    ...
ghd                1965.11
kensie               23.45
liquid blue        2396.47
mixxmix             225.45
philosophy          106.34
Name: price, Length: 1134, dtype: float64

In [109]:
a=df.groupby("brand")["price"].sum()/df['brand'].value_counts()
a

& Other Stories    30.566358
032c               34.252727
11 Degrees         13.113939
1822 Denim         18.847500
3.1 Phillip Lim    35.616000
                     ...
ghd                56.146000
kensie             23.450000
liquid blue        46.085962
mixxmix            18.787500
philosophy         26.585000
Length: 1134, dtype: float64

In [110]:
a.sort_values()

360 Cashmere                1.120000
36572                       1.120000
Bronica                     3.786000
Max Factor                  3.911667
MUA                         4.686667
                             ...
Walter Van Beirendonck    216.180000
Craig Green               239.940000
Loeffler Randall          244.840000
Loewe                     302.043333
Goyard                    339.363333
Length: 1134, dtype: float64

In [111]:
df.groupby("brand")["price"].mean().idxmax()

'Goyard'

7. How many brands have number of transactions between 35 and 55 (inclusive)?(Just write numbers)
7. 35 ile 55 (dahil) arasında kaç markanın işlem sayısı var?(Rakamları yazmanız yeterli)

In [99]:
df['brand'].value_counts().shape

(1134,)

In [62]:
(df['brand'].value_counts().values<=55).sum()

895

In [63]:
(df['brand'].value_counts()>=35).sum()

320

In [102]:
a=((df['brand'].value_counts()>=35)&(df['brand'].value_counts()<=55)).sum()
a

81

In [105]:
df["brand"].value_counts().between(35,55).sum()

81

10. What is the total value of items purchased by GB buyers from GB sellers? (Just write numbers)

10. GB alıcılar tarafından GB satıcılarından satın alınan ürünlerin toplam değeri nedir? (Sadece sayıları yazın)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [77]:
df[(df["buyer_country"]=="GB")&(df["seller_country"]=="GB")]["price"]

0         19.11
1         15.92
2          6.37
3         25.27
4          8.90
          ...
237661    31.77
237665    33.85
237666    17.11
237668    58.28
237669     9.46
Name: price, Length: 133876, dtype: float64

In [79]:
df[(df["buyer_country"]=="GB")&(df["seller_country"]=="GB")]["price"]

0         19.11
1         15.92
2          6.37
3         25.27
4          8.90
          ...
237661    31.77
237665    33.85
237666    17.11
237668    58.28
237669     9.46
Name: price, Length: 133876, dtype: float64

11. What percentage of US sellers' transactions were purchased by US buyers? (Just write percentage)


11. ABD'li satıcıların işlemlerinin yüzde kaçı ABD'li alıcılar tarafından satın alındı? (Yüzdeyi yazmanız yeterli)

In [118]:
from numpy.core.numeric import normalize_axis_tuple
df[df["seller_country"]=="US"]["buyer_country"].value_counts(dropna=False,normalize=True)

US     0.982304
CA     0.004762
RoW    0.004652
GB     0.003666
AU     0.002789
DE     0.000804
FR     0.000548
IE     0.000341
IT     0.000134
Name: buyer_country, dtype: float64

In [114]:
df[df.seller_country=='US'].groupby('buyer_country').sum().sum

                    price
buyer_country
AU               16658.36
CA               21096.80
DE                4789.52
FR                4815.18
GB               22230.41
IE                1249.18
IT                1946.05
RoW              27302.41
US             2391002.92

In [115]:
df[df.seller_country=='US'].groupby('buyer_country').sum().sum()

price    2491090.83
dtype: float64

In [116]:
df[df.seller_country=='US'].groupby('buyer_country').sum()/df[df.seller_country=='US'].groupby('buyer_country').sum().sum()

                  price
buyer_country
AU             0.006687
CA             0.008469
DE             0.001923
FR             0.001933
GB             0.008924
IE             0.000501
IT             0.000781
RoW            0.010960
US             0.959822