<a href="https://colab.research.google.com/github/glcn35/PANDAS/blob/main/DAwPy_S4_(Pandas_DataFrames%2C_Selection_and_Indexing)_empty_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Pandas Lesson, Session - 4</p><h1>

# Data Frames

 - ### ``DataFrames`` are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import numpy as np
import pandas as pd

 ## Creating a DataFrame using the ``list``s of data and columns

pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

Two-dimensional, size-mutable, potentially heterogeneous tabular data.

In [3]:
data = [1, 3, 5, 7, 9, 18]
data

[1, 3, 5, 7, 9, 18]

In [4]:
pd.DataFrame(data = data)

    0
0   1
1   3
2   5
3   7
4   9
5  18

In [5]:
pd.Series(data = data)

0     1
1     3
2     5
3     7
4     9
5    18
dtype: int64

In [6]:
pd.DataFrame(data = data, columns=["col_1"])

   col_1
0      1
1      3
2      5
3      7
4      9
5     18

 ## Creating a DataFrame using a ``NumPy Arrays``

In [8]:
m = np.arange(1,24,2).reshape(3,4)
m

array([[ 1,  3,  5,  7],
       [ 9, 11, 13, 15],
       [17, 19, 21, 23]])

In [9]:
df=pd.DataFrame(data=m, columns=['var1','var2','var3','var4'])
df

   var1  var2  var3  var4
0     1     3     5     7
1     9    11    13    15
2    17    19    21    23

In [10]:
df.head(1)

   var1  var2  var3  var4
0     1     3     5     7

In [ ]:
df.tail(1)

   var1  var2  var3  var4
2    17    19    21    23

In [ ]:
df.sample(2)

   var1  var2  var3  var4
1     9    11    13    15
0     1     3     5     7

In [11]:
df.columns

Index(['var1', 'var2', 'var3', 'var4'], dtype='object')

In [12]:
for i in df.columns:
    print(df[i].sum())

27
33
39
45

In [15]:
df.columns=["new1", "new2", "new3", "new4"]
df

   new1  new2  new3  new4
0     1     3     5     7
1     9    11    13    15
2    17    19    21    23

In [17]:
df.index=["a", "b", "c"]
df

   new1  new2  new3  new4
a     1     3     5     7
b     9    11    13    15
c    17    19    21    23

In [18]:
df.rename(columns = {"new1": "a", "new2": "b"})

    a   b  new3  new4
a   1   3     5     7
b   9  11    13    15
c  17  19    21    23

In [19]:
df.rename(index = {"a": 1, "b": 2})

   new1  new2  new3  new4
1     1     3     5     7
2     9    11    13    15
c    17    19    21    23

In [20]:
df

   new1  new2  new3  new4
a     1     3     5     7
b     9    11    13    15
c    17    19    21    23

In [21]:
df.shape

(3, 4)

In [ ]:
df.shape[1]

4

In [ ]:
df.ndim

2

In [ ]:
df.size

12

In [ ]:
len(df)

3

In [ ]:
df.values

array([[ 1,  3,  5,  7],
       [ 9, 11, 13, 15],
       [17, 19, 21, 23]])

In [24]:
df.index

Index(['a', 'b', 'c'], dtype='object')

In [32]:
type(df)

pandas.core.frame.DataFrame

In [33]:
type(df.values)

numpy.ndarray

 ## Creating a DataFrame using a ``dict``

In [42]:
s1 = np.random.randint(2,10, size = 4)
s2 = np.random.randint(3,10, size = 4)
s3 = np.random.randint(4,15,4)

In [41]:
s1

array([7, 4, 3, 5])

In [43]:
s2

array([7, 5, 3, 6])

In [44]:
s3

array([ 7,  7, 14,  5])

In [45]:
my_dict = {"var1":s1, "var2":s2, "var3":s3}
my_dict

{'var1': array([6, 8, 9, 6]),
 'var2': array([7, 5, 3, 6]),
 'var3': array([ 7,  7, 14,  5])}

In [46]:
df1 = pd.DataFrame(my_dict)
df1

   var1  var2  var3
0     6     7     7
1     8     5     7
2     9     3    14
3     6     6     5

In [47]:
df1.index

RangeIndex(start=0, stop=4, step=1)

In [48]:
[i for i in df1.index]

[0, 1, 2, 3]

In [49]:
"var2" in df1

True

### Now, let's examine again the ***idexing, selection*** and ***slicing*** methods and several ***attributes*** using a different DataFrame

In [50]:
from numpy.random import randn

In [51]:
randn(5,4)

array([[ 0.38036842,  0.25951944,  0.24538559, -0.2480808 ],
       [-0.21476778, -0.50457135,  0.6647378 ,  2.31315837],
       [-0.86579233,  0.99185513,  1.06055647, -0.65613136],
       [-1.15176091,  1.75674012, -2.84567281, -1.70892333],
       [ 0.51304815, -0.35549168, -0.9419411 ,  0.96020267]])

In [52]:
'A B C D E'.split()

['A', 'B', 'C', 'D', 'E']

In [53]:
np.random.seed(101)
df3 = pd.DataFrame(randn(5,4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [54]:
df3["W"]

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

#### DataFrame Columns are just Series

In [55]:
type(df3["W"])

pandas.core.series.Series

In [56]:
df3[["W"]]

          W
A  2.706850
B  0.651118
C -2.018168
D  0.188695
E  0.190794

In [ ]:
type(df3[["W"]])

pandas.core.frame.DataFrame

In [57]:
df3.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [58]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3[["W", "Z"]]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [ ]:
df3["W":"Y"]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [ ]:
df3["A":"C"]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

In [ ]:
df3["A":"C"]["W"]

A    2.706850
B    0.651118
C   -2.018168
Name: W, dtype: float64

In [ ]:
df3["A":"C"][["W", "Y"]]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813

**Creating a new column:**

In [60]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [61]:
df3["new"] = df3["X"] * df3["Y"]
df3

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  0.570325
B  0.651118 -0.319318 -0.848077  0.605965  0.270806
C -2.018168  0.740122  0.528813 -0.589001  0.391387
D  0.188695 -0.758872 -0.933237  0.955057  0.708208
E  0.190794  1.978757  2.605967  0.683509  5.156577

In [63]:
df3["new2"] = [1,2,3,4,5]
df3

          W         X         Y         Z       new  new2
A  2.706850  0.628133  0.907969  0.503826  0.570325     1
B  0.651118 -0.319318 -0.848077  0.605965  0.270806     2
C -2.018168  0.740122  0.528813 -0.589001  0.391387     3
D  0.188695 -0.758872 -0.933237  0.955057  0.708208     4
E  0.190794  1.978757  2.605967  0.683509  5.156577     5

In [64]:
df3 = df3[["new", "new2", "W", "X", "Y", "Z"]]
df3

        new  new2         W         X         Y         Z
A  0.570325     1  2.706850  0.628133  0.907969  0.503826
B  0.270806     2  0.651118 -0.319318 -0.848077  0.605965
C  0.391387     3 -2.018168  0.740122  0.528813 -0.589001
D  0.708208     4  0.188695 -0.758872 -0.933237  0.955057
E  5.156577     5  0.190794  1.978757  2.605967  0.683509

## [Removing Columns & Rows](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-drop.ipynb)

 ### Removing Columns

In [65]:
df3.drop("new2", axis=1)

        new         W         X         Y         Z
A  0.570325  2.706850  0.628133  0.907969  0.503826
B  0.270806  0.651118 -0.319318 -0.848077  0.605965
C  0.391387 -2.018168  0.740122  0.528813 -0.589001
D  0.708208  0.188695 -0.758872 -0.933237  0.955057
E  5.156577  0.190794  1.978757  2.605967  0.683509

In [66]:
df3.drop(["new", "new2"], axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [67]:
df3.drop(columns = ["new", "new2"])

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [68]:
df3.drop(["new", "new2"], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [69]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

 ### Removing rows

In [70]:
df3.drop("C", axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [71]:
df3.drop(index = ["B"])

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [72]:
df4 = df3.drop("C", axis=0)
df4

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [73]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selecting Rows

### First, let's take a quick look at [`.loc[]`](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-loc.ipynb) | [`.iloc[]`](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-iloc.ipynb)

#### `.loc[]`  allows us to select data using **labels** (names) of rows (index) & columns

#### `.iloc[]`  allows us to select data using **index numbers** of rows (index) & columns. it's like classical indexing logic

In [76]:
m = np.random.randint(1,40, size=(8,4))
df4 = pd.DataFrame(m, columns = ["var1","var2","var3",'var4'])
df4

   var1  var2  var3  var4
0    31    37     8    21
1    28    12     6    23
2    26    19    14    39
3     4    15    24    14
4    25    21     1    30
5    12    28    34    25
6    37    39    10     4
7     2    16     5     5

In [77]:
df4.loc[4]

var1    25
var2    21
var3     1
var4    30
Name: 4, dtype: int64

In [ ]:
df4.loc[[4]]

   var1  var2  var3  var4
4    20    36    31    11

In [ ]:
df4.loc[2:5]  #burada 2 5 ayn zamanda index isimleri olarak getii iin 5 dahil edilmitir.loc index ismi yazlr

   var1  var2  var3  var4
2    13    18    12    16
3    34    30    25    37
4    20    36    31    11
5    21    28     9    23

In [ ]:
df4.iloc[2:5]   #indexe gre arama yapllr iloc ta o yzden 5 dahil gelmez.5 burada index olarak geer start- stop tan dolay dahil deil

   var1  var2  var3  var4
2    13    18    12    16
3    34    30    25    37
4    20    36    31    11

In [79]:
df4.index='a b c d e f g h'.split()
df4

   var1  var2  var3  var4
a    31    37     8    21
b    28    12     6    23
c    26    19    14    39
d     4    15    24    14
e    25    21     1    30
f    12    28    34    25
g    37    39    10     4
h     2    16     5     5

In [80]:
df4.iloc[1:4]

   var1  var2  var3  var4
b    28    12     6    23
c    26    19    14    39
d     4    15    24    14

In [ ]:
#df4.loc[1:4] gives an error index ismi 1 ve  4 olan herhangi bir index yok. loc ta index labellarna gre arama yaplr

In [82]:
df4.loc["a":"d"]

   var1  var2  var3  var4
a    31    37     8    21
b    28    12     6    23
c    26    19    14    39
d     4    15    24    14

In [81]:
df4

   var1  var2  var3  var4
a    31    37     8    21
b    28    12     6    23
c    26    19    14    39
d     4    15    24    14
e    25    21     1    30
f    12    28    34    25
g    37    39    10     4
h     2    16     5     5

In [83]:
df4.iloc[3, 1]  #3.satr-1.stun kesiimini dndrr

15

In [84]:
df4.loc["d", "var2"]

15

In [85]:
df4.loc["d":"g", "var3"]

d    24
e     1
f    34
g    10
Name: var3, dtype: int64

In [ ]:
df4.loc["d":"g"]["var3"]

d    25
e    31
f     9
g    38
Name: var3, dtype: int32

In [ ]:
df4.loc["d":"g"][["var3"]]

   var3
d    25
e    31
f     9
g    38

In [ ]:
df4.loc["d":"g", ["var3"]]

   var3
d    25
e    31
f     9
g    38

In [ ]:
df4.iloc[2:5,2]

c    12
d    25
e    31
Name: var3, dtype: int32

In [ ]:
df4.iloc[2:5][["var2"]]

   var2
c    18
d    30
e    36

#### Let's continue to examine `.loc[]` and `.iloc[]` using ``df3`` again

In [86]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [87]:
df3.loc["C"]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [88]:
df3.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [ ]:
df3.loc[["C"]]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [ ]:
df3.iloc[[2]]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

### Selecting subset of rows and columns

 - ### `.loc[[row labels|names], [column labels|names]]`

 - ### `.iloc[[row index numbers], [column index numbers]]`

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [92]:
df3.loc["C","Z"]

-0.5890005332865824

In [93]:
df3.loc[["C"],"Z"]

C   -0.589001
Name: Z, dtype: float64

In [94]:
df3.loc["C",["Z"]]

Z   -0.589001
Name: C, dtype: float64

In [ ]:
df3.loc[["C"],["Z"]]

          Z
C -0.589001

In [ ]:
df3.loc[["A", "C"], ["X", "Z"]]

          X         Z
A  0.628133  0.503826
C  0.740122 -0.589001

In [ ]:
df3.iloc[0:2,0:3]

          W         X         Y
A  2.706850  0.628133  0.907969
B  0.651118 -0.319318 -0.848077

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [95]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [96]:
df3>2

       W      X      Y      Z
A   True  False  False  False
B  False  False  False  False
C  False  False  False  False
D  False  False  False  False
E  False  False   True  False

In [97]:
df3[df3>2]

         W   X         Y   Z
A  2.70685 NaN       NaN NaN
B      NaN NaN       NaN NaN
C      NaN NaN       NaN NaN
D      NaN NaN       NaN NaN
E      NaN NaN  2.605967 NaN

In [101]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [102]:
df3[df3["Z"]>0.5]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [103]:
df3[df3["Z"]>0.5]["X"]

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [ ]:
df3[df3["Z"]>0.5][["X"]]

          X
A  0.628133
B -0.319318
D -0.758872
E  1.978757

#### For two conditions you can use **|**  `or`,  **&**   `and` with parenthesis:

In [106]:
df3

          W         X         Y         Z
A  0.000000  0.000000  0.000000  0.000000
B  0.000000  0.000000  0.000000  0.000000
C -2.018168  0.740122  0.528813 -0.589001
D  0.000000  0.000000  0.000000  0.000000
E  0.190794  1.978757  2.605967  0.683509

In [107]:
df3[(df3['W']>0) & (df3['Y']<1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [108]:
df3[(df3['W']>0) & (df3['Y']<1)] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [109]:
df3

          W         X         Y         Z
A  0.000000  0.000000  0.000000  0.000000
B  0.000000  0.000000  0.000000  0.000000
C -2.018168  0.740122  0.528813 -0.589001
D  0.000000  0.000000  0.000000  0.000000
E  0.190794  1.978757  2.605967  0.683509

### Conditional selection using ``.loc[]`` and ``.iloc[]``

In [ ]:
np.random.seed(101)
df3 = pd.DataFrame(randn(5,4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [121]:
df3.loc[(df3.X>0), ["X", "Y"]]

          X         Y
C  0.740122  0.528813
E  1.978757  2.605967

In [ ]:
df3.loc[((df3.W>1) | (df3.Y<1)), ['X','Z']]

          X         Z
A  0.628133  0.503826
B -0.319318  0.605965
C  0.740122 -0.589001
D -0.758872  0.955057

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [ ]:
df3

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.reset_index(drop = True)

          W         X         Y         Z
0  2.706850  0.628133  0.907969  0.503826
1  0.651118 -0.319318 -0.848077  0.605965
2 -2.018168  0.740122  0.528813 -0.589001
3  0.188695 -0.758872 -0.933237  0.955057
4  0.190794  1.978757  2.605967  0.683509

In [ ]:
df3.set_index("Z")

                  W         X         Y
Z
 0.503826  2.706850  0.628133  0.907969
 0.605965  0.651118 -0.319318 -0.848077
-0.589001 -2.018168  0.740122  0.528813
 0.955057  0.188695 -0.758872 -0.933237
 0.683509  0.190794  1.978757  2.605967

In [ ]:
df3.reset_index(drop=True, inplace=True)
df3

          W         X         Y         Z
0  2.706850  0.628133  0.907969  0.503826
1  0.651118 -0.319318 -0.848077  0.605965
2 -2.018168  0.740122  0.528813 -0.589001
3  0.188695 -0.758872 -0.933237  0.955057
4  0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [124]:
# Index Levels
outside = ['M1', 'M1', 'M1', 'M2', 'M2', 'M2','M3', 'M3', 'M3']
inside = [1, 2, 3, 1, 2, 3, 5, 6, 7]
multi_index = list(zip(outside, inside))
multi_index

[('M1', 1),
 ('M1', 2),
 ('M1', 3),
 ('M2', 1),
 ('M2', 2),
 ('M2', 3),
 ('M3', 5),
 ('M3', 6),
 ('M3', 7)]

In [125]:
hier_index=pd.MultiIndex.from_tuples(multi_index)

In [126]:
df=pd.DataFrame(np.random.randn(9,4), index = hier_index, columns=['A','B','C','D'])
df

             A         B         C         D
M1 1  0.251915  0.518763  0.587968 -0.148194
   2 -0.876702  0.792750  0.539118  0.669774
   3 -1.270484 -0.446181  0.779475  0.479900
M2 1 -0.960697 -2.002399 -1.263599 -0.696232
   2 -1.148220  1.607435 -1.226870  1.405532
   3 -1.137201 -0.535478  2.142717  1.691452
M3 5  0.275225 -0.852057  0.298659 -0.565370
   6  0.358325  0.699676  0.417366 -0.238049
   7 -1.850038  1.049774 -0.437870  0.608334

In [127]:
df.loc["M1"]

          A         B         C         D
1  0.251915  0.518763  0.587968 -0.148194
2 -0.876702  0.792750  0.539118  0.669774
3 -1.270484 -0.446181  0.779475  0.479900

In [129]:
df.loc["M1"].loc[2]

A   -0.876702
B    0.792750
C    0.539118
D    0.669774
Name: 2, dtype: float64

In [ ]:
df.loc["M1"].loc[[2]]

          A         B         C         D
2 -0.008701 -0.217934  0.100054  0.430122

In [ ]:
df.index.names

FrozenList([None, None])

In [ ]:
df.index.names=["Group","Num"]
df

                  A         B         C         D
Group Num
M1    1    1.188113  1.689779 -0.987098 -0.874549
      2   -0.008701 -0.217934  0.100054  0.430122
      3   -0.613563  0.738887 -0.516615 -0.325391
M2    1   -0.955177 -0.084349 -0.166418 -0.459410
      2    1.133265  0.664926 -0.989833  0.203439
      3    0.212353 -0.021494  0.531421 -0.088128
M3    5   -0.909309 -1.047223 -0.434805  0.826320
      6    1.172078 -1.195501 -0.458267  0.808911
      7   -1.036726  0.610862  1.947687  0.043692

### let's take a quick look at the [``.xs()``](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-xs.ipynb)

In [ ]:
df.xs("M1")  #loc ta atama yapabiliriz. xs de sadece grntleyebiliriz

            A         B         C         D
Num
1    1.188113  1.689779 -0.987098 -0.874549
2   -0.008701 -0.217934  0.100054  0.430122
3   -0.613563  0.738887 -0.516615 -0.325391

In [ ]:
df.loc["M1"]

            A         B         C         D
Num
1    1.188113  1.689779 -0.987098 -0.874549
2   -0.008701 -0.217934  0.100054  0.430122
3   -0.613563  0.738887 -0.516615 -0.325391

In [ ]:
df.xs(("M1",2))

A   -0.008701
B   -0.217934
C    0.100054
D    0.430122
Name: (M1, 2), dtype: float64

In [ ]:
df.xs(key=("M1",2),level=[0,1])   #yazdmz srayla m1 0 ,2 1 olacak ekilde eletirir

                  A         B         C         D
Group Num
M1    2   -0.008701 -0.217934  0.100054  0.430122

In [ ]:
df.xs(key=("M1",2),level=["Group","Num"])

                  A         B         C         D
Group Num
M1    2   -0.008701 -0.217934  0.100054  0.430122

In [ ]:
#df.loc[2]  #loc la aradan ekemeyiz
#df.xs(2)
df.xs(2,level="Num")   #2 m1 ve m2 de var sadece o yzden m3 gelmedi

              A         B         C         D
Group
M1    -0.008701 -0.217934  0.100054  0.430122
M2     1.133265  0.664926 -0.989833  0.203439

In [ ]:
df.xs(5,level="Num")  #df.xs(5,level=1)  ayns

              A         B         C        D
Group
M3    -0.909309 -1.047223 -0.434805  0.82632

In [130]:
df[["C"]]

             C
M1 1  0.587968
   2  0.539118
   3  0.779475
M2 1 -1.263599
   2 -1.226870
   3  2.142717
M3 5  0.298659
   6  0.417366
   7 -0.437870

In [ ]:
df.xs("C",axis=1)

Group  Num
M1     1     -0.987098
       2      0.100054
       3     -0.516615
M2     1     -0.166418
       2     -0.989833
       3      0.531421
M3     5     -0.434805
       6     -0.458267
       7      1.947687
Name: C, dtype: float64

### Let's learn new functions/attributes/methods on "iris dataset"

In [131]:
import seaborn as sns

In [132]:
df=sns.load_dataset("iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [133]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [134]:
df.shape

(150, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
df.sample(5)

    sepal_length  sepal_width  petal_length  petal_width     species
37           4.9          3.6           1.4          0.1      setosa
41           4.5          2.3           1.3          0.3      setosa
58           6.6          2.9           4.6          1.3  versicolor
20           5.4          3.4           1.7          0.2      setosa
76           6.8          2.8           4.8          1.4  versicolor

In [ ]:
df.describe()  #numeric stunlarn istatistiksel bilgilerini getirir

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
df.describe().transpose()       #satr stun yer deitirme KISA YOU .T

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [ ]:
df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [ ]:
df.describe(include="all")  #numeric olmayanlarda getirir include = number,object,all seilebilir# "number" and "object" can be used as include/exclude parameter

        sepal_length  sepal_width  petal_length  petal_width    species
count     150.000000   150.000000    150.000000   150.000000        150
unique           NaN          NaN           NaN          NaN          3
top              NaN          NaN           NaN          NaN  virginica
freq             NaN          NaN           NaN          NaN         50
mean        5.843333     3.057333      3.758000     1.199333        NaN
std         0.828066     0.435866      1.765298     0.762238        NaN
min         4.300000     2.000000      1.000000     0.100000        NaN
25%         5.100000     2.800000      1.600000     0.300000        NaN
50%         5.800000     3.000000      4.350000     1.300000        NaN
75%         6.400000     3.300000      5.100000     1.800000        NaN
max         7.900000     4.400000      6.900000     2.500000        NaN

In [136]:
df.describe(include="object")

       species
count      150
unique       3
top     setosa
freq        50

In [ ]:
df.corr()  #stunlarn stunlarlakorelasyonunu dndrr

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [ ]:
df.corr()[["sepal_length"]]

              sepal_length
sepal_length      1.000000
sepal_width      -0.117570
petal_length      0.871754
petal_width       0.817941

In [ ]:
df["petal_length"].corr(df["petal_width"])   #stun -stun korelasyonu

0.9628654314027961

In [ ]:
df["species"].value_counts()

virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64

In [ ]:
df["species"].value_counts(dropna=False)  #nan olsayd ierde o zman onlar da gsterir

virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64

In [ ]:
df["species"].value_counts(dropna=False, normalize= True)  #yzdelik oranlarn,dailmlarn verir

virginica     0.333333
versicolor    0.333333
setosa        0.333333
Name: species, dtype: float64

In [ ]:
df.species.nunique()    #UNQUE olan verilerin saysn gsterir

3

In [ ]:
df.species.unique() #liste halinde verir df.species.unique() ==> array olarak deeri verir df.species.nunique() ==> say olarak

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [ ]:
df.loc[df["species"]=="setosa","sepal_length"]

0     5.1
1     4.9
2     4.7
3     4.6
4     5.0
5     5.4
6     4.6
7     5.0
8     4.4
9     4.9
10    5.4
11    4.8
12    4.8
13    4.3
14    5.8
15    5.7
16    5.4
17    5.1
18    5.7
19    5.1
20    5.4
21    5.1
22    4.6
23    5.1
24    4.8
25    5.0
26    5.0
27    5.2
28    5.2
29    4.7
30    4.8
31    5.4
32    5.2
33    5.5
34    4.9
35    5.0
36    5.5
37    4.9
38    4.4
39    5.1
40    5.0
41    4.5
42    4.4
43    5.0
44    5.1
45    4.8
46    5.1
47    4.6
48    5.3
49    5.0
Name: sepal_length, dtype: float64

In [ ]:
df.loc[(df.sepal_length>4) & (df.sepal_length<5)]

     sepal_length  sepal_width  petal_length  petal_width     species
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
6             4.6          3.4           1.4          0.3      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
22            4.6          3.6           1.0          0.2      setosa
24            4.8          3.4           1.9          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
45            4.8          3.0           1.4          0.3      setosa
47            4.6          3.2           1.4          0.2      setosa
57            4.9          2.4           3.3          1.0  versicolor
106           4.9          2.5           4.5          1.7   virginica

In [ ]:
df[(df.species == "virginica") & (df.sepal_length>4)  & (df.sepal_length<5)]

     sepal_length  sepal_width  petal_length  petal_width    species
106           4.9          2.5           4.5          1.7  virginica

In [ ]:
df.sort_values(by = 'sepal_length', ascending = True)

     sepal_length  sepal_width  petal_length  petal_width    species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]

# End of the Session