<a href="https://colab.research.google.com/github/glcn35/PANDAS/blob/main/DAwPy_Lab2_Regex_(TR).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Expressions :
***

`\d`                         Any numeric digit from `0` to `9`.
                           
`\D`                         Matches any character which is not a decimal digit. 
                           This is the opposite of `\d`.
                           
`\w`                         Any letter, numeric digit, or the underscore
                           character.  (Think of this as matching
                           "word" characters.)
                           
`\W`                         Any character that is not a letter,
                           numeric digit, or the underscore character.
                           
`\s`                         Any space, tab, or newline character.  (
                           Think of this as matching white-space
                           characters.)
                           
`\S`                         Any character that is not a space, tab,
                           or newline.
***

In [ ]:
import re
import pandas as pd

- Search()

In [ ]:
text= "A546O1K"

In [ ]:
re.search("\d", text)

In [ ]:
re.search("\d\d\d", text)

In [ ]:
num=re.search("\d\d", text) 
num

In [ ]:
num.start()

1

In [ ]:
num.end()

3

In [ ]:
num.span()

(1, 3)

In [ ]:
num.group()

'54'

In [ ]:
text="8PM_19MIN"

In [ ]:
mondigi=re.search("\D", text)
mondigi.group()

'A'

In [ ]:
text = 'My phone number is 555 666 7777'

In [ ]:
re.search("\d\d\d", text)

In [ ]:
telno= re.search("\d\d\d \d\d\d \d\d\d\d", text)

In [ ]:
telno

In [ ]:
telno.group()

'555 666 7777'

In [ ]:
text = 'My phone number is 555-666-7777'

In [ ]:
telno= re.search("\d\d\d-\d\d\d-\d\d\d\d", text)

In [ ]:
telno

In [ ]:
telno.group()

'555-666-7777'

In [ ]:
text = 'My phone number is 555-666-7779'

In [ ]:
telno= re.search("\d"*3+"-"+ "\d"*3 +"-"+"\d"*4, text)

In [ ]:
telno.group()

'555-666-7779'

In [ ]:
print(telno.group())

555-666-7779

In [ ]:
https://regex101.com/

- Sub()

In [ ]:
phone= "2005-960-960"

In [ ]:
re.sub("\D","*", phone)

'2005*960*960'

In [ ]:
re.sub("\d","*", phone)  #\d nümeic olanlar

'****-***-***'

In [ ]:
re.sub("6","7", phone)

'2005-970-970'

In [ ]:
txt="You are good man "

In [ ]:
x=re.sub("\s","*",txt,2)
x

'You*are*good man '

In [ ]:
x=re.sub("\s","*",txt,4)
x

'You*are*good*man*'

- Findall()

### Special Characters
___

``"[]"``	  A set of characters	``"[a-m]"``

``"\"``	      Signals a special sequence (can also be used to escape special characters)

``"."``	      Any character (except newline character)

``"^"``	      Starts with	``"^hello"``

``"$"``	      Ends with	``"world$"``

``"*"``	      Zero or more occurrences

`"+"`	      One or more occurrences

`"{}"`	  Exactly the specified number of occurrences

`"|"`	      Either or	`"falls|stays"`

`"()"`	  Capture and group
___

In [ ]:
value= "o 1 , t ,o 100. 100000000"

In [ ]:
output=re.findall("\d{1,5}", value)

In [ ]:
print(output)

['1', '100', '10000', '0000']

In [ ]:
output=re.findall("\d{4,9}", value)

In [ ]:
print(output)

['100000000']

In [ ]:
text= " 1 person aganist 100 people"

In [ ]:
output=re.findall("\d+", text)   #numeric değeri al bir ve fazlasını.numeric olmayan değeri almaz keser orada
print(output)

['1', '100']

In [ ]:
text="hello world"

In [ ]:
re.findall("^hel", text)

[]

In [ ]:
re.findall("world$", text)

['world']

In [ ]:
s = pd.Series(['a3', 'b4', 'c5', 'd'])
s

0    a3
1    b4
2    c5
3     d
dtype: object

In [ ]:
s.str.contains("\d")   #içinde digit değer var mı varsa true

0     True
1     True
2     True
3    False
dtype: bool

In [ ]:
s

0    a3
1    b4
2    c5
3     d
dtype: object

In [ ]:
s.str.extract("(\d)")  #dataframe cevirdi

     0
0    3
1    4
2    5
3  NaN

In [ ]:
s.str.extract("(\w)")

   0
0  a
1  b
2  c

In [ ]:
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [ ]:
s.str.extract("(\w)")

   0
0  a
1  b
2  c

In [ ]:
s.str.extract("(\w)(\w)(\w)")  #word karakter sayı harf

   0  1  2
0  a  3  a
1  b  4  a
2  c  5  a

In [ ]:
s.str.extract("(\w)(\d)(\w)(\w)")

   0  1  2  3
0  a  3  a  a
1  b  4  a  a
2  c  5  a  a

In [ ]:
s.str.extract("(\w)\d(\w)(\w)")  #parantez içine almayınca dahil etmez

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

In [ ]:
s.str.extract("(\w)"*4)

   0  1  2  3
0  a  3  a  a
1  b  4  a  a
2  c  5  a  a

In [ ]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])

In [ ]:
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [ ]:
s.str.extract("(\d\d|\d.\d|\d)")   #| or anlamında kullanılır

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [ ]:
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [ ]:
s.str.extract("(\d*.\d*)")

      0
0   40
1   38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16   0
17  7.8

In [ ]:
s.str.extract("(\d*.\d*) .+/(\d*)")

      0    1
0    40  100
1    38  100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16    0  100
17  7.8  100

In [ ]:
result=s.str.extract("(\d*.\d*) .+/(\d*)") 
result

      0    1
0    40  100
1    38  100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16    0  100
17  7.8  100

In [ ]:
result[1]

0     100
1     100
2     100
3     100
4     100
5     100
6     100
7     100
8     100
9     100
10    100
11    100
12    100
13    100
14    100
15    100
16    100
17    100
Name: 1, dtype: object