<a href="https://colab.research.google.com/github/glcn35/PANDAS/blob/main/g%C3%BClcan_DAwPy_Capstone_Project_(AutoScout)_Student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 1 `( Data Cleaning )`

In [ ]:
import numpy as np
import pandas as pd
import re
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
scout_car = pd.read_json ("/content/drive/MyDrive/scout_car.json", lines = True)

In [ ]:
df = scout_car.copy()

#  1.prev_owner

In [ ]:
df.prev_owner.value_counts(dropna=False)

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [ ]:
df.prev_owner=df.prev_owner.str.extract("(\d)")
df.prev_owner

0          2
1        NaN
2          1
3          1
4          1
        ...
15914    NaN
15915      1
15916      1
15917    NaN
15918      1
Name: prev_owner, Length: 15919, dtype: object

In [ ]:
df.prev_owner.value_counts(dropna=False)

1      8294
NaN    6828
2       778
3        17
4         2
Name: prev_owner, dtype: int64

#2.Previous Owners

In [ ]:
df["Previous Owners"]

0                                                    \n2\n
1                                                      NaN
2                                                    \n1\n
3                                                    \n1\n
4                                                    \n1\n
                               ...
15914                                                  NaN
15915    [\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100...
15916                     [\n1\n, \n139 g CO2/km (comb)\n]
15917                                                  NaN
15918                                                \n1\n
Name: Previous Owners, Length: 15919, dtype: object

In [ ]:
df["Previous Owners"]=[item[0] if type(item)==list else item for item in df["Previous Owners"]]
df["Previous Owners"]

0        \n2\n
1          NaN
2        \n1\n
3        \n1\n
4        \n1\n
         ...
15914      NaN
15915    \n1\n
15916    \n1\n
15917      NaN
15918    \n1\n
Name: Previous Owners, Length: 15919, dtype: object

In [ ]:
df["Previous Owners"]=df["Previous Owners"].str.extract("(\d)")
df["Previous Owners"]

0          2
1        NaN
2          1
3          1
4          1
        ...
15914    NaN
15915      1
15916      1
15917    NaN
15918      1
Name: Previous Owners, Length: 15919, dtype: object

In [ ]:
df["Previous Owners"].value_counts(dropna=False)

1      8294
NaN    6640
2       778
0       188
3        17
4         2
Name: Previous Owners, dtype: int64

In [ ]:
df[["prev_owner","Previous Owners"]]

      prev_owner Previous Owners
0              2               2
1            NaN             NaN
2              1               1
3              1               1
4              1               1
...          ...             ...
15914        NaN             NaN
15915          1               1
15916          1               1
15917        NaN             NaN
15918          1               1

[15919 rows x 2 columns]

#3.Fuel

In [ ]:
df["Fuel"]

0                    [\n, Diesel (Particulate Filter), \n]
1                                       [\n, Gasoline, \n]
2                    [\n, Diesel (Particulate Filter), \n]
3                    [\n, Diesel (Particulate Filter), \n]
4                    [\n, Diesel (Particulate Filter), \n]
                               ...
15914                [\n, Diesel (Particulate Filter), \n]
15915    [\n, Super 95 / Super Plus 98 (Particulate Fil...
15916                                     [\n, Diesel, \n]
15917                                     [\n, Diesel, \n]
15918                                   [\n, Super 95, \n]
Name: Fuel, Length: 15919, dtype: object

In [ ]:
# df["Fuel"]=df["Fuel"].apply(str).str.split(",").str[1]
# df["Fuel"]

In [ ]:
df["Fuel"]=[item[1] if type(item)==list else item for item in df["Fuel"]]
df["Fuel"]

0                          Diesel (Particulate Filter)
1                                             Gasoline
2                          Diesel (Particulate Filter)
3                          Diesel (Particulate Filter)
4                          Diesel (Particulate Filter)
                             ...
15914                      Diesel (Particulate Filter)
15915    Super 95 / Super Plus 98 (Particulate Filter)
15916                                           Diesel
15917                                           Diesel
15918                                         Super 95
Name: Fuel, Length: 15919, dtype: object

In [ ]:
df["Fuel"]=df["Fuel"].str.split("/")

In [ ]:
df["Fuel"]

0                           [Diesel (Particulate Filter)]
1                                              [Gasoline]
2                           [Diesel (Particulate Filter)]
3                           [Diesel (Particulate Filter)]
4                           [Diesel (Particulate Filter)]
                               ...
15914                       [Diesel (Particulate Filter)]
15915    [Super 95 ,  Super Plus 98 (Particulate Filter)]
15916                                            [Diesel]
15917                                            [Diesel]
15918                                          [Super 95]
Name: Fuel, Length: 15919, dtype: object

In [ ]:
df["Fuel"]=[item[0] if type(item)==list else item for item in df["Fuel"]]
df["Fuel"]

0        Diesel (Particulate Filter)
1                           Gasoline
2        Diesel (Particulate Filter)
3        Diesel (Particulate Filter)
4        Diesel (Particulate Filter)
                    ...
15914    Diesel (Particulate Filter)
15915                      Super 95
15916                         Diesel
15917                         Diesel
15918                       Super 95
Name: Fuel, Length: 15919, dtype: object

In [ ]:
df["Fuel"].unique()

array(['Diesel (Particulate Filter)', 'Gasoline', 'Super 95', 'Regular',
       'Diesel', 'Super E10 95', 'Super 95 (Particulate Filter)',
       'Super 95 ', 'Super E10 95 ', 'Others',
       'Gasoline (Particulate Filter)',
       'Super E10 95 (Particulate Filter)', 'Super Plus 98', 'CNG',
       'Electric', 'CNG (Particulate Filter)',
       'Others (Particulate Filter)', 'Biogas', 'Domestic gas H',
       'Super Plus E10 98 ', 'Super Plus 98 ', 'Super Plus E10 98', 'LPG',
       'Liquid petroleum gas (LPG)'], dtype=object)

In [ ]:
lpg=['LPG','Gasoline',"Gasoline (Particulate Filter)",'Liquid petroleum gas (LPG)','CNG (Particulate Filter)',"CNG","Domestic gas H", "Biogas" ]
benzine=["Regular","Benzine 91" ,"Super 95" ,"Benzine E10 91","Super E10 95", 'Super E10 95 ' ,"Super Plus 98" , 'Super Plus 98 ',"Super Plus E10 98", 'Super Plus E10 98 ',"Super 95 (Particulate Filter)","Super E10 95 (Particulate Filter)","Super 95 "]
Diesel=["Diesel","Diesel (Particulate Filter)" ]

def fueltype(x):
  if x in benzine:
    return "Benzine"
  elif x in lpg:
    return "LPG/CNG"
  elif x in Diesel:
    return "Diesel"
  else:
     return "others"

In [ ]:
df["Fuel"]=df["Fuel"].apply(fueltype)
df["Fuel"]

0         Diesel
1        LPG/CNG
2         Diesel
3         Diesel
4         Diesel
          ...
15914     Diesel
15915    Benzine
15916     Diesel
15917     Diesel
15918    Benzine
Name: Fuel, Length: 15919, dtype: object

In [ ]:
df["Fuel"].value_counts(dropna=False)

Diesel     7299
Benzine    5293
LPG/CNG    3316
others       11
Name: Fuel, dtype: int64

#4.Consumption

In [ ]:
df['Consumption']

0        [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
1        [[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...
2        [[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...
3        [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
4        [[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...
                               ...
15914    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15915    [\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...
15916    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15917    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15918    [[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...
Name: Consumption, Length: 15919, dtype: object

In [ ]:
df['Consumption_comb']=[item[0] if type(item)==list and type(item[0])==list   else item for item in df['Consumption']]

In [ ]:
df['Consumption_comb']

0                                    [3.8 l/100 km (comb)]
1                                    [5.6 l/100 km (comb)]
2                                    [3.8 l/100 km (comb)]
3                                    [3.8 l/100 km (comb)]
4                                    [4.1 l/100 km (comb)]
                               ...
15914                                [5.3 l/100 km (comb)]
15915    [\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...
15916                                [5.3 l/100 km (comb)]
15917                                [5.3 l/100 km (comb)]
15918                                [6.8 l/100 km (comb)]
Name: Consumption_comb, Length: 15919, dtype: object

In [ ]:
df['Consumption_comb']=df['Consumption_comb'].apply(lambda item: ",".join(item) if type(item) == list else item)

In [ ]:
df['Consumption_comb']

0                                      3.8 l/100 km (comb)
1                                      5.6 l/100 km (comb)
2                                      3.8 l/100 km (comb)
3                                      3.8 l/100 km (comb)
4                                      4.1 l/100 km (comb)
                               ...
15914                                  5.3 l/100 km (comb)
15915    \n,7.4 l/100 km (comb),\n,9.2 l/100 km (city),...
15916                                  5.3 l/100 km (comb)
15917                                  5.3 l/100 km (comb)
15918                                  6.8 l/100 km (comb)
Name: Consumption_comb, Length: 15919, dtype: object

In [ ]:
df['Consumption_comb']=df['Consumption_comb'].str.extract('(\d.\d l)')
df['Consumption_comb']

0        3.8 l
1        5.6 l
2        3.8 l
3        3.8 l
4        4.1 l
         ...
15914    5.3 l
15915    7.4 l
15916    5.3 l
15917    5.3 l
15918    6.8 l
Name: Consumption_comb, Length: 15919, dtype: object

In [ ]:
df['Consumption_comb']=df['Consumption_comb'].str.replace("l","")

In [ ]:
df['Consumption_comb']=df['Consumption_comb'].astype(float)
df['Consumption_comb']

0        3.8
1        5.6
2        3.8
3        3.8
4        4.1
        ...
15914    5.3
15915    7.4
15916    5.3
15917    5.3
15918    6.8
Name: Consumption_comb, Length: 15919, dtype: float64

In [ ]:
df['Consumption']

0        [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
1        [[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...
2        [[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...
3        [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
4        [[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...
                               ...
15914    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15915    [\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...
15916    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15917    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15918    [[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...
Name: Consumption, Length: 15919, dtype: object

In [ ]:
df['Consumption_city']=[item[1] if type(item)==list and type(item[0])==list  else item for item in df['Consumption']]
df['Consumption_city']

0                                    [4.3 l/100 km (city)]
1                                    [7.1 l/100 km (city)]
2                                    [4.4 l/100 km (city)]
3                                    [4.3 l/100 km (city)]
4                                    [4.6 l/100 km (city)]
                               ...
15914                                [6.2 l/100 km (city)]
15915    [\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...
15916                                [6.2 l/100 km (city)]
15917                                [6.2 l/100 km (city)]
15918                                [8.7 l/100 km (city)]
Name: Consumption_city, Length: 15919, dtype: object

In [ ]:
df['Consumption_city']=[item[1] if type(item)==list and type(item[0])==list  else item for item in df['Consumption']]
df['Consumption_city']

0                                    [4.3 l/100 km (city)]
1                                    [7.1 l/100 km (city)]
2                                    [4.4 l/100 km (city)]
3                                    [4.3 l/100 km (city)]
4                                    [4.6 l/100 km (city)]
                               ...
15914                                [6.2 l/100 km (city)]
15915    [\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...
15916                                [6.2 l/100 km (city)]
15917                                [6.2 l/100 km (city)]
15918                                [8.7 l/100 km (city)]
Name: Consumption_city, Length: 15919, dtype: object

In [ ]:
df['Consumption_city']=df['Consumption_city'].apply(lambda item: ",".join(item) if type(item) == list else item)

In [ ]:
df['Consumption_city']

0                                      4.3 l/100 km (city)
1                                      7.1 l/100 km (city)
2                                      4.4 l/100 km (city)
3                                      4.3 l/100 km (city)
4                                      4.6 l/100 km (city)
                               ...
15914                                  6.2 l/100 km (city)
15915    \n,7.4 l/100 km (comb),\n,9.2 l/100 km (city),...
15916                                  6.2 l/100 km (city)
15917                                  6.2 l/100 km (city)
15918                                  8.7 l/100 km (city)
Name: Consumption_city, Length: 15919, dtype: object

In [ ]:
df['Consumption_city']=df['Consumption_city'].str.extract("(\d.\d l/100 km)")
df['Consumption_city']

0        4.3 l/100 km
1        7.1 l/100 km
2        4.4 l/100 km
3        4.3 l/100 km
4        4.6 l/100 km
             ...
15914    6.2 l/100 km
15915    7.4 l/100 km
15916    6.2 l/100 km
15917    6.2 l/100 km
15918    8.7 l/100 km
Name: Consumption_city, Length: 15919, dtype: object

In [ ]:
df['Consumption_country']=[item[2] if type(item)==list else item for item in df['Consumption']]
df['Consumption_country']

0        [3.5 l/100 km (country)]
1        [4.7 l/100 km (country)]
2        [3.4 l/100 km (country)]
3        [3.5 l/100 km (country)]
4        [3.8 l/100 km (country)]
                   ...
15914    [4.7 l/100 km (country)]
15915                          \n
15916    [4.7 l/100 km (country)]
15917    [4.7 l/100 km (country)]
15918    [5.7 l/100 km (country)]
Name: Consumption_country, Length: 15919, dtype: object

In [ ]:
df['Consumption_country']=df['Consumption_country'].apply(str).str.extract("(\d\d|\d.\d|\d)")
df['Consumption_country']

0        3.5
1        4.7
2        3.4
3        3.5
4        3.8
        ...
15914    4.7
15915    NaN
15916    4.7
15917    4.7
15918    5.7
Name: Consumption_country, Length: 15919, dtype: object

In [ ]:
df[['Consumption','Consumption_comb','Consumption_city','Consumption_country']]

,Consumption,Consumption_comb,Consumption_city,Consumption_country
0,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",3.8,4.3 l/100 km,3.5
1,"[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",5.6,7.1 l/100 km,4.7
2,"[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",3.8,4.4 l/100 km,3.4
3,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",3.8,4.3 l/100 km,3.5
4,"[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",4.1,4.6 l/100 km,3.8
...,...,...,...,...
15914,"[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",5.3,6.2 l/100 km,4.7
15915,"[\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...",7.4,7.4 l/100 km,NaN
15916,"[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",5.3,6.2 l/100 km,4.7
15917,"[[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...",5.3,6.2 l/100 km,4.7
15918,"[[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...",6.8,8.7 l/100 km,5.7

#5.CO2 Emission

In [ ]:
df['CO2 Emission']

0         [\n99 g CO2/km (comb)\n]
1        [\n129 g CO2/km (comb)\n]
2         [\n99 g CO2/km (comb)\n]
3         [\n99 g CO2/km (comb)\n]
4        [\n109 g CO2/km (comb)\n]
                   ...
15914    [\n139 g CO2/km (comb)\n]
15915    [\n168 g CO2/km (comb)\n]
15916    [\n139 g CO2/km (comb)\n]
15917    [\n139 g CO2/km (comb)\n]
15918    [\n153 g CO2/km (comb)\n]
Name: CO2 Emission, Length: 15919, dtype: object

In [ ]:
df['CO2 Emission']=df['CO2 Emission'].apply(str).str.extract("(\d+)")

In [ ]:
df['CO2 Emission']

0         99
1        129
2         99
3         99
4        109
        ...
15914    139
15915    168
15916    139
15917    139
15918    153
Name: CO2 Emission, Length: 15919, dtype: object

#6.Emission Class

In [ ]:
df['Emission Class']

0              [\nEuro 6\n]
1              [\nEuro 6\n]
2              [\nEuro 6\n]
3              [\nEuro 6\n]
4              [\nEuro 6\n]
                ...
15914                   NaN
15915                   NaN
15916    [\nEuro 6d-TEMP\n]
15917          [\nEuro 6\n]
15918          [\nEuro 6\n]
Name: Emission Class, Length: 15919, dtype: object

In [ ]:
df['Emission Class']=[item[0] if type(item)==list else item for item in df['Emission Class']]

In [ ]:
df['Emission Class']

0              \nEuro 6\n
1              \nEuro 6\n
2              \nEuro 6\n
3              \nEuro 6\n
4              \nEuro 6\n
               ...
15914                 NaN
15915                 NaN
15916    \nEuro 6d-TEMP\n
15917          \nEuro 6\n
15918          \nEuro 6\n
Name: Emission Class, Length: 15919, dtype: object

In [ ]:
df['Emission Class']=df['Emission Class'].apply(str).str.strip("\n")

In [ ]:
df['Emission Class']

0              Euro 6
1              Euro 6
2              Euro 6
3              Euro 6
4              Euro 6
             ...
15914             nan
15915             nan
15916    Euro 6d-TEMP
15917          Euro 6
15918          Euro 6
Name: Emission Class, Length: 15919, dtype: object

In [ ]:
df['Emission Class'].value_counts()

Euro 6          10139
nan              3021
Euro 6d-TEMP     1845
[]                607
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: Emission Class, dtype: int64

In [ ]:
#df[df['Emission Class']=="nan"].T

In [ ]:
df[['Emission Label','Emission Class','CO2 Emission']]

        Emission Label Emission Class CO2 Emission
0                  NaN         Euro 6           99
1      [\n4 (Green)\n]         Euro 6          129
2      [\n4 (Green)\n]         Euro 6           99
3                  NaN         Euro 6           99
4                  NaN         Euro 6          109
...                ...            ...          ...
15914              NaN            nan          139
15915              NaN            nan          168
15916              NaN   Euro 6d-TEMP          139
15917              NaN         Euro 6          139
15918  [\n4 (Green)\n]         Euro 6          153

[15919 rows x 3 columns]

#7.EmissionLabel

In [ ]:
df['Emission Label']=[item[0] if type(item)==list else item for item in df['Emission Label']]

In [ ]:
df['Emission Label']

0                  NaN
1        \n4 (Green)\n
2        \n4 (Green)\n
3                  NaN
4                  NaN
             ...
15914              NaN
15915              NaN
15916              NaN
15917              NaN
15918    \n4 (Green)\n
Name: Emission Label, Length: 15919, dtype: object

In [ ]:
df['Emission Label']=df['Emission Label'].apply(str).str.strip("\n")
df['Emission Label']

0              nan
1        4 (Green)
2        4 (Green)
3              nan
4              nan
           ...
15914          nan
15915          nan
15916          nan
15917          nan
15918    4 (Green)
Name: Emission Label, Length: 15919, dtype: object

In [ ]:
df['Emission Label'].value_counts()

nan               11934
4 (Green)          3553
1 (No sticker)      381
[]                   40
5 (Blue)              8
3 (Yellow)            2
2 (Red)               1
Name: Emission Label, dtype: int64

#8.Electricity consumption

In [ ]:
df['Electricity consumption']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
15914    NaN
15915    NaN
15916    NaN
15917    NaN
15918    NaN
Name: Electricity consumption, Length: 15919, dtype: object

In [ ]:
df['Electricity consumption'].isnull().sum()

15782

#9.Other Fuel Types

In [ ]:
df['Other Fuel Types'].isnull().sum()

15039

#rename columns

In [ ]:
df.rename(columns = {'Previous Owners':'previous_owners',
                    'Consumption':'consumption',
                    'CO2 Emission':'CO2_emission_gCO2/km',
                    'Emission Class':'emission_class',
                    'Emission Label':'emission_label',
                    'Electricity consumption':'electricity_consumption',
                    'Other Fuel Types':'other_fuel_types'}, inplace = True)

# PART- 2 `( Handling With Missing Vales )`

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [ ]:
df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

## Export dataframe to csv file (dummy)

In [ ]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)