<a href="https://colab.research.google.com/github/glcn35/PANDAS/blob/main/Pandas_Task_Cohort_DS_10_22_EU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

![image.png](https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png)

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">Groupby(), Map(), Apply(), Applymap() & Transform()</p>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK</p>

In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import scipy

import warnings
warnings.filterwarnings('ignore') 

np.random.seed(42)

In [107]:
df=pd.read_csv("/content/sample_data/Sales_April_2019.csv")
df

      Order ID  ...                        Purchase Address
0       176558  ...            917 1st St, Dallas, TX 75001
1          NaN  ...                                     NaN
2       176559  ...       682 Chestnut St, Boston, MA 02215
3       176560  ...    669 Spruce St, Los Angeles, CA 90001
4       176560  ...    669 Spruce St, Los Angeles, CA 90001
...        ...  ...                                     ...
18378   194090  ...   177 Jackson St, Los Angeles, CA 90001
18379   194091  ...         311 Forest St, Austin, TX 73301
18380   194092  ...  347 Sunset St, San Francisco, CA 94016
18381   194093  ...         835 Lake St, Portland, OR 97035
18382   194094  ...          354 North St, Boston, MA 02215

[18383 rows x 6 columns]

In [94]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18324 non-null  object
 1   Product           18324 non-null  object
 2   Quantity Ordered  18324 non-null  object
 3   Price Each        18324 non-null  object
 4   Order Date        18324 non-null  object
 5   Purchase Address  18324 non-null  object
dtypes: object(6)
memory usage: 861.8+ KB

In [96]:
df[df.duplicated()]

       Order ID  ...                   Purchase Address
31       176585  ...  823 Highland St, Boston, MA 02215
356         NaN  ...                                NaN
735         NaN  ...                                NaN
1149   Order ID  ...                   Purchase Address
1155   Order ID  ...                   Purchase Address
...         ...  ...                                ...
17339  Order ID  ...                   Purchase Address
17446       NaN  ...                                NaN
17718       NaN  ...                                NaN
17744  Order ID  ...                   Purchase Address
18194    193916  ...    653 Cherry St, Dallas, TX 75001

[114 rows x 6 columns]

In [97]:
df.isnull().sum()

Order ID            59
Product             59
Quantity Ordered    59
Price Each          59
Order Date          59
Purchase Address    59
dtype: int64

In [98]:
df["Product"].unique()

array(['USB-C Charging Cable', nan, 'Bose SoundSport Headphones',
       'Google Phone', 'Wired Headphones', 'Macbook Pro Laptop',
       'Lightning Charging Cable', '27in 4K Gaming Monitor',
       'AA Batteries (4-pack)', 'Apple Airpods Headphones',
       'AAA Batteries (4-pack)', 'iPhone', 'Flatscreen TV',
       '27in FHD Monitor', '20in Monitor', 'LG Dryer', 'ThinkPad Laptop',
       'Vareebadd Phone', 'LG Washing Machine', '34in Ultrawide Monitor',
       'Product'], dtype=object)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">THE APPLICATION OF GROUPBY(), TRANSFORM() & APPLY() METHODS WITH GROUPBY() TO REAL WORLD DATASET</p>

### **``Question:``** Which is the highest sold product and its number?

En Ã§ok satÄ±lan Ã¼rÃ¼n ve sayÄ±sÄ± nedir?

In [99]:
df["Product"].value_counts(dropna=False)

Lightning Charging Cable      2201
USB-C Charging Cable          2079
AA Batteries (4-pack)         2063
AAA Batteries (4-pack)        1989
Wired Headphones              1890
Apple Airpods Headphones      1515
Bose SoundSport Headphones    1280
27in FHD Monitor               734
iPhone                         693
34in Ultrawide Monitor         650
Google Phone                   581
27in 4K Gaming Monitor         563
Flatscreen TV                  458
Macbook Pro Laptop             453
ThinkPad Laptop                392
20in Monitor                   390
Vareebadd Phone                220
LG Dryer                        77
LG Washing Machine              61
NaN                             59
Product                         35
Name: Product, dtype: int64

In [16]:
df["Product"].value_counts(dropna=False).head(1)

Lightning Charging Cable    2201
Name: Product, dtype: int64

### **``Question:``** Find the ``Total Number of Each Product Sold``
SatÄ±lan Her ÃœrÃ¼nÃ¼n Toplam SayÄ±sÄ±nÄ± Bulun

In [105]:
df.groupby("Product")["Quantity Ordered"].sum()

Product
20in Monitor                  1111121111111111111111111111111111111111111111...
27in 4K Gaming Monitor        1111111111111111111111111111111111111111111111...
27in FHD Monitor              1111111111111111111111111111111111111111111111...
34in Ultrawide Monitor        1111111111111111111111111111111111111111111111...
AA Batteries (4-pack)         1111111111211212121111112111122213111111111112...
AAA Batteries (4-pack)        1222212113212312112121111113112131111112112111...
Apple Airpods Headphones      1111111111111111111111111111111111111111111112...
Bose SoundSport Headphones    1111111111111111111211111111111111111111111111...
Flatscreen TV                 1111111111111111111111111111111111111111111111...
Google Phone                  1111111111111111111111111111111111111111111111...
LG Dryer                      1111111111111111111111111111111111111111111111...
LG Washing Machine            1111111111111111111111111111111111111111111111...
Lightning Charging Cable      1112111212111112111111111111111111111111111111...
Macbook Pro Laptop            1111111111111111111111111111111111111111111111...
Product                                                                      35
ThinkPad Laptop               1111111111111111111111111111111111111111111111...
USB-C Charging Cable          2111111111112111111111111111111111211121121111...
Vareebadd Phone               1111111111111111111111111111111111111111111111...
Wired Headphones              1111312111111111111111111111111111112111111111...
iPhone                        1111111111111111111111111111111111111111111111...
Name: Quantity Ordered, dtype: object

In [108]:
df["Quantity Ordered"].unique()

array(['2', nan, '1', '3', '5', 'Quantity Ordered', '4', '7', '6'],
      dtype=object)

In [109]:
df["Quantity Ordered"].replace(to_replace="Quantity Ordered",value=1,inplace=True)

In [110]:
df["Quantity Ordered"].fillna(1,inplace=True)

In [111]:
df["Quantity Ordered"].unique()

array(['2', 1, '1', '3', '5', '4', '7', '6'], dtype=object)

In [112]:
df["Quantity Ordered"].astype("int64")

0        2
1        1
2        1
3        1
4        1
        ..
18378    1
18379    1
18380    2
18381    1
18382    1
Name: Quantity Ordered, Length: 18383, dtype: int64

In [113]:
df = df.astype({"Quantity Ordered":'int64'})

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18324 non-null  object
 1   Product           18324 non-null  object
 2   Quantity Ordered  18383 non-null  int64
 3   Price Each        18324 non-null  object
 4   Order Date        18324 non-null  object
 5   Purchase Address  18324 non-null  object
dtypes: int64(1), object(5)
memory usage: 861.8+ KB

In [115]:
df.groupby("Product")["Quantity Ordered"].sum().sort_values(ascending=False)

Product
AAA Batteries (4-pack)        2936
AA Batteries (4-pack)         2822
Lightning Charging Cable      2371
USB-C Charging Cable          2270
Wired Headphones              2066
Apple Airpods Headphones      1525
Bose SoundSport Headphones    1288
27in FHD Monitor               737
iPhone                         695
34in Ultrawide Monitor         653
Google Phone                   581
27in 4K Gaming Monitor         565
Flatscreen TV                  459
Macbook Pro Laptop             455
20in Monitor                   395
ThinkPad Laptop                392
Vareebadd Phone                220
LG Dryer                        77
LG Washing Machine              61
Product                         35
Name: Quantity Ordered, dtype: int64

### **``Question:``** Find the ``Total Revenue of Each Product Sold``  
SatÄ±lan Her ÃœrÃ¼nÃ¼n Toplam Gelirini Bulun

In [116]:
df["total"]=df["Quantity Ordered"]*df["Price Each"]	
df["total"]

0        11.9511.95
1               NaN
2             99.99
3               600
4             11.99
            ...
18378           600
18379          3.84
18380      2.992.99
18381          3.84
18382         14.95
Name: total, Length: 18383, dtype: object

In [117]:
df.groupby("Product")["total"].sum().sort_values(ascending=False)

Product
Product                       Price EachPrice EachPrice EachPrice EachPrice ...
ThinkPad Laptop               999.99999.99999.99999.99999.99999.99999.99999....
Bose SoundSport Headphones    99.9999.9999.9999.9999.9999.9999.9999.9999.999...
iPhone                        7007007007007007007007007007007007007007007007...
Google Phone                  6006006006006006006006006006006006006006006006...
LG Dryer                      600.0600.0600.0600.0600.0600.0600.0600.0600.06...
LG Washing Machine            600.0600.0600.0600.0600.0600.0600.0600.0600.06...
Vareebadd Phone               4004004004004004004004004004004004004004004004...
27in 4K Gaming Monitor        389.99389.99389.99389.99389.99389.99389.99389....
34in Ultrawide Monitor        379.99379.99379.99379.99379.99379.99379.99379....
Flatscreen TV                 3003003003003003003003003003003003003003003003...
AA Batteries (4-pack)         3.843.843.843.843.843.843.843.843.843.843.843....
AAA Batteries (4-pack)        2.992.992.992.992.992.992.992.992.992.992.992....
Macbook Pro Laptop            1700170017001700170017001700170017001700170017...
Apple Airpods Headphones      1501501501501501501501501501501501501501501501...
27in FHD Monitor              149.99149.99149.99149.99149.99149.99149.99149....
Lightning Charging Cable      14.9514.9514.9514.9514.9514.9514.9514.9514.951...
Wired Headphones              11.9911.9911.9911.9911.9911.9911.9911.9911.991...
USB-C Charging Cable          11.9511.9511.9511.9511.9511.9511.9511.9511.951...
20in Monitor                  109.99109.99109.99109.99109.99109.99109.99109....
Name: total, dtype: object

In [118]:
df["Price Each"].unique()

array(['11.95', nan, '99.99', '600', '11.99', '1700', '14.95', '389.99',
       '3.84', '150', '2.99', '700', '300', '149.99', '109.99', '600.0',
       '999.99', '400', '379.99', 'Price Each'], dtype=object)

In [124]:
df["Price Each"].replace(to_replace=["Price Each","nan"],value=0,inplace=True)

In [123]:
df["Price Each"].unique()

array(['11.95', nan, '99.99', '600', '11.99', '1700', '14.95', '389.99',
       '3.84', '150', '2.99', '700', '300', '149.99', '109.99', '600.0',
       '999.99', '400', '379.99', 0], dtype=object)

In [125]:
df["Price Each"].fillna(0,inplace=True)

In [131]:
df = df.astype({"Price Each":'float'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18324 non-null  object
 1   Product           18324 non-null  object
 2   Quantity Ordered  18383 non-null  int64
 3   Price Each        18383 non-null  float64
 4   Order Date        18324 non-null  object
 5   Purchase Address  18324 non-null  object
 6   total             18324 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 1005.4+ KB

In [128]:
df.groupby("Product")["total"].sum().sort_values(ascending=False)

Product
Product                       Price EachPrice EachPrice EachPrice EachPrice ...
ThinkPad Laptop               999.99999.99999.99999.99999.99999.99999.99999....
Bose SoundSport Headphones    99.9999.9999.9999.9999.9999.9999.9999.9999.999...
iPhone                        7007007007007007007007007007007007007007007007...
Google Phone                  6006006006006006006006006006006006006006006006...
LG Dryer                      600.0600.0600.0600.0600.0600.0600.0600.0600.06...
LG Washing Machine            600.0600.0600.0600.0600.0600.0600.0600.0600.06...
Vareebadd Phone               4004004004004004004004004004004004004004004004...
27in 4K Gaming Monitor        389.99389.99389.99389.99389.99389.99389.99389....
34in Ultrawide Monitor        379.99379.99379.99379.99379.99379.99379.99379....
Flatscreen TV                 3003003003003003003003003003003003003003003003...
AA Batteries (4-pack)         3.843.843.843.843.843.843.843.843.843.843.843....
AAA Batteries (4-pack)        2.992.992.992.992.992.992.992.992.992.992.992....
Macbook Pro Laptop            1700170017001700170017001700170017001700170017...
Apple Airpods Headphones      1501501501501501501501501501501501501501501501...
27in FHD Monitor              149.99149.99149.99149.99149.99149.99149.99149....
Lightning Charging Cable      14.9514.9514.9514.9514.9514.9514.9514.9514.951...
Wired Headphones              11.9911.9911.9911.9911.9911.9911.9911.9911.991...
USB-C Charging Cable          11.9511.9511.9511.9511.9511.9511.9511.9511.951...
20in Monitor                  109.99109.99109.99109.99109.99109.99109.99109....
Name: total, dtype: object

In [132]:
df.total

0        11.9511.95
1               NaN
2             99.99
3               600
4             11.99
            ...
18378           600
18379          3.84
18380      2.992.99
18381          3.84
18382         14.95
Name: total, Length: 18383, dtype: object

In [133]:
df["total"]=df["Quantity Ordered"]*df["Price Each"]	
df["total"]

0         23.90
1          0.00
2         99.99
3        600.00
4         11.99
          ...
18378    600.00
18379      3.84
18380      5.98
18381      3.84
18382     14.95
Name: total, Length: 18383, dtype: float64

In [134]:
df.groupby("Product")["total"].sum().sort_values(ascending=False)

Product
Macbook Pro Laptop            773500.00
iPhone                        486500.00
ThinkPad Laptop               391996.08
Google Phone                  348600.00
34in Ultrawide Monitor        248133.47
Apple Airpods Headphones      228750.00
27in 4K Gaming Monitor        220344.35
Flatscreen TV                 137700.00
Bose SoundSport Headphones    128787.12
27in FHD Monitor              110542.63
Vareebadd Phone                88000.00
LG Dryer                       46200.00
20in Monitor                   43446.05
LG Washing Machine             36600.00
Lightning Charging Cable       35446.45
USB-C Charging Cable           27126.50
Wired Headphones               24771.34
AA Batteries (4-pack)          10836.48
AAA Batteries (4-pack)          8778.64
Product                            0.00
Name: total, dtype: float64

### **``Question:``** Which Product has the highest revenue and its number?  

Hangi ÃœrÃ¼n en yÃ¼ksek gelire ve sayÄ±sÄ±na sahiptir?

In [136]:
df.groupby("Product")["total"].sum().sort_values(ascending=False).head(1)

Product
Macbook Pro Laptop    773500.0
Name: total, dtype: float64

### **``Question:``** Find the ``Percentage of Product Sold by Total Revenue`` and What is the top 5 products?

In [137]:
df.groupby("Product")["total"].mean().sort_values().tail(5)

Product
LG Washing Machine     600.000000
LG Dryer               600.000000
iPhone                 702.020202
ThinkPad Laptop        999.990000
Macbook Pro Laptop    1707.505519
Name: total, dtype: float64

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of the Task</p>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>
___